*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    font-family:16px !important;
    --primary-color:#22254b;
    --seconday-color:#373b69;
    --moviecontainer-shadow:0.2px 4px 5px  0 rgba(0, 0, 0, 0.1);
}
body{ font-family:'Nunito', sans-serif;
   // background-color:var(--primary-color)
}
header{
    padding:1rem;
    display:flex;
   // justify-content:flex-end;
   justify-content:space-between;
    background-color:var(--seconday-color);
}
#tags{
    display:flex;
    width:75%;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    //margin:0.8rem auto;
  
}
.tag{
   
    color:#fff;
    padding:0.6rem 1.25rem;
    background-color:var(--primary-color);
    border-radius:3.13rem;
    text-align:center;
    margin:0.3rem 0.3rem;
    display:inline-block;
    cursor:pointer;
    border:none;
}
.tag:hover{
   
    border:0.06rem solid  #7378c5;
}
input[type=text]{
    background-color:transparent;
    border:2px solid var(--primary-color);
    border-radius:3.13rem;
    font-size:1rem;
    color:#fff;
    font-family:inherit;
    padding:0.5rem 1rem;
}
input[type=text]:focus{
    outline:none;
    background-color:var(--primary-color);

}
input[type=text]::placeholder{
    color: #7378c5;
}
/* Movie image and card style*/
main{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.movie_container{
    width:18.8rem;
    margin:1rem;
    border-radius:0.3rem;
    box-shadow:var(--moviecontainer-shadow);
    background-color:var(--seconday-color);
    position:relative;
    overflow:hidden;
    
    cursor:pointer;
}

.movie_container img{
    width:100%;
}
.movie_info{
    color:#eee;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing:0.03rem;
}
.movie_info h3{
    margin-top:0;
}
.movie_info span{
    background-color: var(--primary-color);
    padding:0.25rem 0.5rem;
    border-radius:0.19rem;
    font-weight:800;
}
.movie_info span.green{
    color:lightgreen;
}
.movie_info span.orange{
    color:orange;
}
.movie_info span.red{
    color:red;
}
.movie_overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color:white;
    padding:1rem;
    max-height:100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    overflow:auto;

}
.movie_container:hover .movie_overview{
    transform:translateY(0);
    
    cursor:pointer;

}
.tag.highlight{
    background-color:red;
}
.noresult{
    background-color:blue;
    margin-top:3rem;
    padding:20px;
    color:#fff;
}
